.vscode/**/*
.emmyrc.json

# Local data changes
Data/Monster
Data/Intrinsic
Data/Item
Data/Skill
Data/Universal.json
Spoilers/

# C# libraries for Archipelago. Not currently important.
Libraries/*.dll